
{% extends 'base.html' %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/indexCss.html.css">
	<link rel="stylesheet" href="static/styles.html.css">
	<link rel="stylesheet" href="static/styles-old.html.css">
</head>
<body style="font-family: 'Montserrat', sans-serif; line-height: 2">
<div class="navigationBar">
    <nav class="navbar navbar-expand-lg navbar-dark  ">
	
        <a class="navbar-brand" href="#">Veritas</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item   ">
                    <a class="nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown mr-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catagories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Poltics</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Sports</a>
                    </div>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link" href="submitQuestions">Submit</a>
                </li>
                <li class="nav-item  ">
                    <a class="nav-link" href="apply">Account</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<section>
    <div class="card col-md-10 ">
        <div class="card-body">
            <h5 class="card-title">I Do Not Remember’: Trump Gave a Familiar Reply to the Special Counsel’s Queries
Image</h5>
            <hr>
            <p class="card-text">He did not remember any particular conversations with Roger J. Stone Jr., a longtime adviser, during the last months of the campaign, much less discussions with him about WikiLeaks. He did not remember discussing a possible trip to Russia to promote a proposed tower project in Moscow. He did not remember an invitation from Russia’s deputy prime minister to attend an economic forum in St. Petersburg.

A fuzzy memory is not exactly unusual for any president given how much they typically juggle, much less a 72-year-old president who is the oldest ever elected for the first time. But Mr. Mueller’s prosecutors considered his memory lapses unsatisfying and pressed Mr. Trump’s lawyer again for an in-person interview, to no avail.

“The written responses, we informed counsel, ‘demonstrate the inadequacy of the written format, as we have had no opportunity to ask follow-up questions that would ensure complete answers and potentially refresh your client’s recollection or clarify the extent or nature of his lack of recollection,’” Mr. Mueller’s report said.</p>
				<hr>
				{{ the_phrase }}
				<hr>
				
				
				<h4><em>{{ the_results }}</em></	h4>
            <div class="userFeedBack">
                <div class="row">
                    <div class="col">
                        
						
						<div class="feedBackText2" id="authorName">{{ the_author_name  }}</div>
						
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="footerSetion">
    <div class="row bg-dark" style="height: 4rem; text-align: center; color: white;background-color: black;">
        <div class="col-md-12">
            <span>Instagram</span>
            <span>Twitter</span>
            <span>Facebook</span>

        </div>
        <div class="col-md-12">
            <span>&copy;copyright Veritas 2019</span>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="static/js/bootstrap.bundle.min.js">

</script>
<script src="static/js/jquery-3.4.0.min.js"></script>
{% endblock %}